.form-control { margin-bottom: 10px; }

.back-imgs{
      /*background-position: center; */
      background-size: cover; /* Resize the background image to cover the entire container */
    }

    h3{
  font-weight: bold;
  /*color:green;*/
  font-family: 'Sintony', sans-serif;
  text-align:center; color:green;
  /*text-align: center;*/
}

